################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ClassTrack/FileContentIndex
/.vs/ClassTrack/v17/.suo
/.vs/ClassTrack/v17/DocumentLayout.json
/.vs/ProjectEvaluation/classtrack.metadata.v9.bin
/ClassTrack/obj/Debug/net8.0-windows/ClassTrack.AssemblyInfo.cs
/.vs/ProjectEvaluation/classtrack.projects.v9.bin
/.vs/ProjectEvaluation/classtrack.strings.v9.bin
/ClassTrack/obj/Debug/net8.0-windows/ClassTrack.AssemblyInfoInputs.cache
/ClassTrack/obj/Debug/net8.0-windows/ClassTrack.GeneratedMSBuildEditorConfig.editorconfig
/ClassTrack/obj/ClassTrack.csproj.nuget.dgspec.json
/ClassTrack/obj/Debug/net8.0-windows/ClassTrack.assets.cache
/ClassTrack/obj/project.assets.json
/ClassTrack/obj/ClassTrack.csproj.nuget.g.props
/ClassTrack/obj/project.nuget.cache
/ClassTrack.Domain/obj/Debug/net8.0
/ClassTrack.Domain/obj
/ClassTrack.Persistence/obj
/.vs/ClassTrack/v17/DocumentLayout.backup.json
/.vs/ClassTrack/DesignTimeBuild/.dtbcache.v2
/.vs/ClassTrack/FileContentIndex/60858d5c-ec03-4322-8f42-ae6479bab832.vsidx
/.vs/ClassTrack/FileContentIndex/c93c4baa-2e0e-420a-8307-1d364add90ef.vsidx
/.vs/ClassTrack/FileContentIndex/d7473d45-dc1c-4367-b0cd-0c4f106dda54.vsidx
/.vs/ClassTrack/v17/.futdcache.v2
/ClassTrack/obj/Debug/net8.0-windows
/ClassTrack/obj/ClassTrack.csproj.nuget.g.targets
/ClassTrack/bin/Debug/net8.0-windows
/ClassTrack.Domain/bin/Debug/net8.0
/ClassTrack.Persistence/bin/Debug/net8.0
